<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.megabackup">
    
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="MegaBackup">
        <activity android:name=".MainActivity" android:theme="@android:style/Theme.DeviceDefault">
        </activity>
    </application>
</manifest>
